.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 10px;
}
mat-form-field,
mat-radio-group {
  padding: 0px 15px 10px;
  width: 100%;
}
mat-dailog-actions {
  width: 100%;
}
.action {
  padding: 0px 10px 15px;
}

.action button {
  flex: 1;
}

button {
  margin: 3px;
}
