<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{course.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{course.list.headline}]]</h1>
                <div>
                    <a th:href="@{/courses/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{course.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${courses.empty}">[[#{course.list.empty}]]</div>
            <div th:if="${!courses.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{course.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{course.createdBy.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{course.updatedBy.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{course.name.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{course.price.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{course.student.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="course : ${courses}" class="odd:bg-gray-100">
                            <td class="p-2">[[${course.id}]]</td>
                            <td class="p-2">[[${course.createdBy}]]</td>
                            <td class="p-2">[[${course.updatedBy}]]</td>
                            <td class="p-2">[[${course.name}]]</td>
                            <td class="p-2">[[${course.price}]]</td>
                            <td class="p-2">[[${course.student}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/courses/edit/{id}(id=${course.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{course.list.edit}]]</a>
                                    <form th:action="@{/courses/delete/{id}(id=${course.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{course.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
