.register-form{
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    margin: 0px;
    padding: 40px 14px;
    -webkit-box-shadow: 0 0 4px 3px #f4f4f4;
            box-shadow: 0 0 4px 3px #f4f4f4;
}