@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Neucha", cursive;
		font-family: "Roboto", sans-serif;
	}
}

.blinking-cursor::after {
	content: "|";
	animation: blink 1s step-end infinite;
}

.animate-shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
